* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav bar */
#nav {
    width: 100%;
    /* border: 2px solid red; */
}
#nav{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: aliceblue;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.top>div {
    /* border: 1px solid black; */
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.top>div>input {
    width: 95%;
    outline: 0px;
    font-size: 25px;
    font-weight: 100;
    border: none;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.top>div>button {
    width: 5%;
    border: none;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.top>div>button>img {
    width: 95%;
}

.top>img {
    width: 13%;
}

.top>a {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.lower {
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.lower ul {
    list-style: none;
    display: inline-flex;
}

.lower ul a {
    text-decoration: none;
    display: block;
    font-size: 16px;
    color: black;
}

.lower ul li {
    margin: 15px;
    padding: 0px 15px;
}

.submenu-1 {
    display: none;
}

.lower ul li:hover .submenu-1 {
    display: block;
    position: absolute;
    margin-top: 15px;
    background-color: rgb(227, 231, 231);
}

.lower ul li:hover .submenu-1 ul {
    display: block;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.lower ul li:hover .submenu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid rgb(20, 20, 20);
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.lower ul li:hover .submenu-1 ul li:last-child {
    border-bottom: none;
}
.submenu-1:last-child{
    margin-left: -25px;
}
/* product */
#mainbody{
    width: 95%;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    display: grid;
    grid-template-columns: 70% 30%;
    
}
/* #mainbody > div {
    border: 5px solid black;
} */

#mainproductbar > h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#productbar{
    /* border: 2px solid red; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    width: 97%;
    gap: 13px;
    

}
#productbar > div {
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    
}
#productbar > div >img{
    width: 100%;
}
#productbar > div >h3{
padding: 0px 20px;
}
#productbar > div >p{
    padding: 0px 20px;
    text-align: right;
}
#productbar > div >h5{
    padding: 0px 20px;
    margin-bottom: 10px;
}
#productbar > div >button{
    margin-left: 15px;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    outline: 0px;
    background-color: rgb(162, 162, 168);
    color: black;
    font-weight: 600;
    cursor: pointer;
}
#productbar > div >button:last-child  {
    border: none;
    outline: 0px;
    background-color:rgba(88, 88, 161, 0.5);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 15px;
    color: black;
    font-weight: 600;
}
#productbar > div >button:last-child:hover{
    background-color: rgba(118, 151, 151, 0.795);
}
#productbar > div >span{
    margin-left: 10px;
}
#purchaseside > div{
    /* border: 1px solid red; */
   margin: auto;
   width: 80%;
   justify-content: center;
   margin-top:  160px;
   padding-bottom: 30px;
   box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
   background-color: rgba(250, 235, 215, 0.699);
   margin-bottom: 80px;
}
#purchaseside > div > h1{
    color: #12823b;
    margin-top: 25px;
    margin-left: 15px;
    text-decoration: underline ;
}

#purchaseside > div > h2{
    margin-left: 30px;
    margin-top: 30px;
}
#purchaseside > div> button{
    display: block;
    margin: auto;
    margin-top: 20px;
    border: none;
    outline: 0px;
    background-color: rgba(134, 114, 187, 0.884);
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 40px;
    cursor: pointer;
}
#purchaseside > div> button:hover{
background-color: rgb(79, 191, 243);
}
#purchaseside > div> button>a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
#purchaseside > div> a{
    text-decoration: none;
    color: black;
    padding-left: 40px;
}
/*footer css */
.lastcard {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-between;
    font-size: 20px;
}

.lastcard p {
    width: 70%;
}

.lastcard>button {
    font-size: 20px;
    padding: 5px 20px;
    background-color: rgba(17, 17, 124, 0.356);
    border: none;
    outline: 0px;
}

.lastcard a {
    text-decoration: none;
    color: black;
}

.footer {
    /* border: 1px solid red; */
    width: 100%;
    /* height: 600px; */
    background-color: #a7a4a479;
    display: grid;
    grid-template-columns: repeat(4, 37% 21% 21% 21%);
    margin-top: 40px;
}

.footer>div {
    border: 2px solid black;
    text-align: center;
    /* height: 450px; */
}

#footercard>div {
    /* border: 2px solid brown; */
    /* height: 150px; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-content: center;
    padding-left: 60px;
}

#footercard>div>div {
    margin-top: 40px;
    width: 100%;
    /* border: 1px solid yellowgreen; */
    /* height: 60px; */
}

#footercard>div>div>img {
    width: 50%;
    display: block;
    margin: auto;
}

#footercard>div>img {
    margin-top: 50px;
    width: 400%;
}

.footer>div>h2 {
    margin-top: 40px;
    font-family: Nunito - 600;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 13px;
}

.footer>div>p {
    margin-bottom: 13px;
}

.footer>div>p>a {
    text-decoration: none;
    color: #12823b;
    font-family: Arial;
    font-size: 14px;
}

.footer>div>p>a:hover {
    text-decoration: underline;
}